.avatarMain {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  color: #556f96;
  position: relative;
}

.header {
  position: absolute;
  left: 50px;
  font-size: 40px;
}

.btn {
  width: 100px;
  height: 40px;
  margin: 0 40px;
  border: none;
  border-radius: 6px;
  background-color: rgb(66, 73, 80);
  font-size: 16px;
  color: #e4e4e4;
  cursor: pointer;
  position: relative;
  transition: transform .1s ease;
}

.btn:focus {
  outline: none;
}
.btn:active {
  transform: scale(1.1);
}